blueprints/automation/AndreiRadchenko
blueprints/automation/homeassistant
blueprints/automation/SgtBatten
blueprints/automation/valentinfrlch
blueprints/automation/vorion
blueprints/script/homeassistant/
blueprints/script/op00/
blueprints/template/homeassistant
custom_components/
esphome/
image/
llmvision/
themes/
tts/
www/
.geofahm*
.shopping_list.json
automations.yaml
home-assistant.log*
lutron_caseta*
scenes.yaml
scrape.yaml
scripts.yaml
secrets.yaml
sensors.yaml
solcast*
subreddit.yaml
test.xml
zigbee*
home-assistant_v2.db*
acme*
production_auth*
remote_*
.storage
.cloud
.git
.HA_VERSION