# blueprint folders
blueprints/
!blueprints/automation/georgefahmy
!blueprints/script/georgefahmy
!blueprints/template/georgefahmy

# custom components
custom_components/
esphome/
image/
llmvision/
themes/
tts/
www/

# other files
home-assistant.log*
lutron_caseta*
test.xml
home-assistant_v2.db*
solcast*

# yaml files
secrets.yaml
automations.yaml

# other folders
zigbee*
acme*
production_auth*
remote_*

# hidden stuff
.storage
.cloud
.git
.shopping_list.json
.geofahm*
.HA_VERSION